<% include ../partials/header %>

<div class="row">
		<h1 style="text-align: center">Schedule a activity</h1>
		<div style="width: 15%; margin: 25px auto">
			<form action="/schedules/<%= currentUser._id %>/new" method="POST">
				<div class="form-group">
					<h4>Please input the date: <input type="date" name="schedule[date]" placeholder="Date"></h4>
				</div>
				<div class="form-group">
					<h4>Please input the start and end time you want: </h4><br>
					<h5>Start time: <input type="time" name="schedule[beginTime]"> to End time: <input type="time" name="schedule[endTime]"></h5>
				</div>
				<div class="form-group">
					<% activity.forEach(function(activity){ %>
						<% if(currentUser.curCity === activity.location){ %>
							<div class="form-group">
								<input type="radio" name="activity" onclick="chose(this)" value="<%= activity.type%>"><img style="width: 150%; height: 150%" src="<%= activity.image %>">
							</div>
							<h4><%= activity.type %></h4>
							<h4>duration(hours): <%= activity.duration %></h4>
						<% } %>
						
						
					<% }); %>
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Next</button>
				</div>
			</form>
		</div>	
	</div>

<% include ../partials/footer %>